@import 'cssreset';
@import 'image';
@import 'variables';
@import 'tailwind-compatible.scss';
@import 'colors';
@import 'colors-autotheme';
@import 'animations';

:root {
  --card-border: var(--gray-100);
  --border-radius: var(--rounded-md);
  --card-bg: var(--card-background-color);
}

.card {
  background-color: var(--card-background-color);
  border-radius: $border-radius;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
}

.pill {
  border-radius: 100px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  display: inline-block;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

i {
  font-family: var(--font-serif);
}

.textTrackSweep {
  @include SweepTextTracking(var(--tracking-wide), var(--tracking-tight), 3s);
}

code {
  font-family: var(--font-mono);
}

.leftRight {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.centerVertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

$aspects: (
  '1x1': 1,
  '4x3': 4/3,
  '16x9': 16/9,
  '21x9': 21/9,
  '2x1': 2,
  '3x2': 3/2,
  '3x4': 3/4,
  '9x16': 9/16,
  '9x21': 9/21,
  '1x2': 1/2,
  '2x3': 2/3,
  'dci': 1.85/1,
  'cinemascope': 2.35/1,
  'anamorphic': 2.39/1,
  'hd': 16/9,
  'television': 4/3,
  'photo': 3/2,
  'square': 1,
  'portrait': 2/3,
);

@each $name, $ratio in $aspects {
  .aspect-#{$name} {
    aspect-ratio: $ratio;
  }
}

$space: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem,
  11: 2.75rem,
  12: 3rem,
  13: 3.25rem,
  14: 3.5rem,
  15: 3.75rem,
  16: 4rem,
  17: 4.25rem,
  18: 4.5rem,
  19: 4.75rem,
  20: 5rem,
);

@each $name, $value in $space {
  .m-#{$name} {
    margin: $value;
  }
  .mt-#{$name} {
    margin-top: $value;
  }
  .mr-#{$name} {
    margin-right: $value;
  }
  .mb-#{$name} {
    margin-bottom: $value;
  }
  .ml-#{$name} {
    margin-left: $value;
  }
  .mx-#{$name} {
    margin-left: $value;
    margin-right: $value;
  }
  .my-#{$name} {
    margin-top: $value;
    margin-bottom: $value;
  }
  .p-#{$name} {
    padding: $value;
  }
  .pt-#{$name} {
    padding-top: $value;
  }
  .pr-#{$name} {
    padding-right: $value;
  }
  .pb-#{$name} {
    padding-bottom: $value;
  }
  .pl-#{$name} {
    padding-left: $value;
  }
  .px-#{$name} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$name} {
    padding-top: $value;
    padding-bottom: $value;
  }

  .space-y-#{$name} > :not([hidden]) ~ :not([hidden]) {
    margin-top: $value;
  }

  .space-x-#{$name} > :not([hidden]) ~ :not([hidden]) {
    margin-left: $value;
  }

  .space-y-reverse > :not([hidden]) ~ :not([hidden]) {
    margin-top: $value;
  }
}
