$gray_levels: (
  50: #f7fafc,
  100: #f7fafc,
  200: #edf2f7,
  300: #e2e8f0,
  400: #cbd5e0,
  500: #a0aec0,
  600: #718096,
  700: #4a5568,
  800: #2d3748,
  900: #1a202c,
);

@media (prefers-color-scheme: dark) {
  $gray_levels: (
    50: #1a202c,
    100: #1a202c,
    200: #2d3748,
    300: #4a5568,
    400: #718096,
    500: #a0aec0,
    600: #cbd5e0,
    700: #e2e8f0,
    800: #edf2f7,
    900: #f7fafc,
  );
}

@each $level, $color in $gray_levels {
  .bg-gray-#{$level} {
    background-color: $color;
  }
  .text-gray-#{$level} {
    color: $color;
  }
  .border-gray-#{$level} {
    border-color: $color;
  }
  :root {
    --gray-#{$level}: $color;
  }
}


$text-sizes: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  '2xl': 1.5rem,
  '3xl': 1.875rem,
  '4xl': 2.25rem,
  '5xl': 3rem,
  '6xl': 3.75rem,
    '7xl': 4.5rem,
    '8xl': 6rem,
    '9xl': 8rem,
);

$line-heights: (
  xs: 1rem,
    sm: 1.25rem,
    base: 1.5rem,
    lg: 1.75rem,
    xl: 1.75rem,
    '2xl': 2rem,
    '3xl': 2.25rem,
    '4xl': 2.5rem,
    '5xl': 1,
    '6xl': 1,
    '7xl': 1,
    '8xl': 1,
);

@each $size, $value in $text-sizes {
  .text-#{$size} {
    font-size: $value;
    line-height: map-get($line-heights, $size);
  }
  :root {
    --text-#{$size}: $value;
    --lineheight-#{$size}: map-get($line-heights, $size);
  }
}

