$border-radius: 18px;

$primary-color: #ffacff;
$secondary-color: complement($primary-color);

:root {
  --primary-color: $primary-color;
  --secondary-color: $secondary-color;
  --text-color: #000000;
  --background-color: rgba(253, 252, 255, 0.89);
  --second-background-color: #{rgba(lighten($primary-color, 10%), 0.1)};
  --disabled-color: hsla(0, 100%, 77%, 0.04);
  --card-background-color: rgba(247, 247, 250, 0.89);
  --tpcard-background-color: rgba(244, 244, 244, 0.34);
  --header-height: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --background-color: #0e0e0e;
    --second-background-color: #{rgba(darken($primary-color, 60%), 0.1)};
    --card-background-color: #191919;
    --disabled-color: hsla(330, 18%, 4%, 0.7);
    --tpcard-background-color: rgba(53, 53, 53, 0.35);
  }
}
